#image {
  height: 50px;
  width: 50px;
  overflow: hidden;
  margin-right: 10px;
  background-color: blue;
  border-radius: 50%;
}

#image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.group-card {
  height: 70px;
  padding: 10px;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.group-card:hover,
.isActive {
  background-color: rgb(235, 235, 235);
}

.fixedList {
  height: calc(100vh - 60px);
  overflow-y: auto;
  border-right: 1px solid rgb(235, 235, 235);
}

.message {
  text-align: left;
  padding: 10px 0;
  background-color: lightgrey;
}

#message-box {
  width: calc(100% - 80px);
  margin: 0 5px;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 25px;
  border: none;
}

#message-box:focus {
  outline: none;
}

#all-message {
  height: calc(100% - 118px);
  overflow: hidden;
  overflow-y: auto;
}

#blank-chat {
  height: calc(100vh - 60px);
  background-color: rgb(239, 240, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#chat-header {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 5px 10px;
  background-color: rgb(236, 236, 236);
  display: flex;
}

#all-message .others-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#all-message .others-message div {
  background-color: lavender;
  color: black;
  max-width: 300px;
  width: fit-content;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  word-break: break-all;
  text-align: left;
}

#all-message .username {
  font-size: 8px;
  font-weight: bold;
  opacity: 0.5;
}

#all-message .my-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#all-message .my-message div {
  background-color: rgb(106, 208, 255);
  color: white;
  max-width: 300px;
  width: fit-content;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  word-break: break-all;
  text-align: left;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.icon svg {
  cursor: pointer;
}

/* Online bubble */

.bubble {
  display: block; 
  position: absolute;
  cursor: pointer; 
}

.bubble:hover:after {
  background-color: red
}

.bubble:after {
  content: "";
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
}

.bubble .bubble-outer-dot {
  margin: 1px;
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.4);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.5s linear infinite;
  -moz-animation: bubble-pulse 1.5s linear infinite;
  -o-animation: bubble-pulse 1.5s linear infinite;
  animation: bubble-pulse 1.5s linear infinite
}

.bubble .bubble-inner-dot {
 
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.4);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.5s linear infinite;
  -moz-animation: bubble-pulse 1.5s linear infinite;
  -o-animation: bubble-pulse 1.5s linear infinite;
  animation: bubble-pulse 1.5s linear infinite
}

.bubble .bubble-inner-dot:after {
  content: "";
  display: block;
  text-align: center;
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.4);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: bubble-pulse 1.5s linear infinite;
  -moz-animation: bubble-pulse 1.5s linear infinite;
  -o-animation: bubble-pulse 1.5s linear infinite;
  animation: bubble-pulse 1.5s linear infinite
}

@-webkit-keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: .75
  }
  25% {
    transform: scale(1);
    opacity: .75
  }
  100% {
    transform: scale(2.5);
    opacity: 0
  }
}

@keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: .75
  }
  25% {
    transform: scale(1);
    opacity: .75
  }
  100% {
    transform: scale(2.5);
    opacity: 0
  }
}

@-moz-keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: .75
  }
  25% {
    transform: scale(1);
    opacity: .75
  }
  100% {
    transform: scale(2.5);
    opacity: 0
  }
}

@-o-keyframes bubble-pulse {
  0% {
    transform: scale(1);
    opacity: .75
  }
  25% {
    transform: scale(1);
    opacity: .75
  }
  100% {
    transform: scale(2.5);
    opacity: 0
  }
}

.online-bubble {
  position: absolute;
  top: 35%;
  right: 10%;
}

.online-bubble div {
  top: 30%;
}

