.pics {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

#cover-pic {
  height: calc(70vh - 60px);
  min-height: 200px;
  width: 100%;
  background-color: khaki;
  border-radius: 0 0 25px 25px;
}

#profile-pic {
  width: 200px;
  height: 200px;
  background-color: lawngreen;
  position: absolute;
  top: calc(60vh - 60px);
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.tab-content {
  width: 100%;
}

.cameraIcon {
  position: absolute;
  right: 10%;
  cursor: pointer;
  background-color: white;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 50%;
}

.update {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(109, 99, 105, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  cursor: pointer;
  /* border-radius: 0px 0px 250px 250px; */
}

#profile-pic:hover .update {
  height: 50px;
}

.update:hover {
  background-color: rgb(29, 27, 28);
}

.pic_update {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#layer {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgba(68, 68, 68, 0.5);
}

#upload_btn {
  background-color: transparent;
  outline: none;
  border: none;
}

@media (max-height: 370px) {
  #profile-pic {
    top: 163px;
  }
}
